{% extends 'template_base.html' %}

{% block content %}

        <h2 class="Catalogo">Catálogo</h2>
        <div class="Contenedor-carrusel">

        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>              
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5" aria-label="Slide 6"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="6" aria-label="Slide 7"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                  <div>
                      <h5 class="h5-carousel d-none d-md-block" >Papas fritas</h5>
                  </div>
                <img src="https://www.nikankitchen.com/Images/ProductsWebP/haitai-honey-butter-chips-60g.webp" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <p class="p-carousel">Elaboradas con una selección de papas del sur de china.</p>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <div>
                    <h5 class="h5-carousel d-none d-md-block">Arvejas con wasabi</h5>
                </div>
                <img src="https://dojiw2m9tvv09.cloudfront.net/22913/product/L_49013260119225896.jpg?36" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <p class="p-carousel">Ricas arvejas cultivadas en Nankin, sazonadas con sal</p>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="3000">
                <div>
                    <h5 class="h5-carousel d-none d-md-block">Caramelo de maíz</h5>
                </div>
                <img src="https://dojiw2m9tvv09.cloudfront.net/22913/product/L_1503394000054yl7swr5705.jpg?36" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <p class="p-carousel">Cararamelo sabor maiz, cubierto con miel</p>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="4000">
                <div>
                    <h5 class="h5-carousel d-none d-md-block">Bebidas Asiaticas</h5>
                </div>
                <img src="https://m.media-amazon.com/images/I/71Kn91tTRmS._SX425_PIbundle-8,TopRight,0,0_AA425SH20_.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <p class="p-carousel">Elaboradas con agua de manantial y baja en azúcar.</p>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="5000">
                <div>
                    <h5 class="h5-carousel d-none d-md-block">Snack chocolate</h5>
                </div>
                <img src="https://dojiw2m9tvv09.cloudfront.net/22913/product/L_88019061620747895.jpg?36" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <p class="p-carousel">Snacks de souflé sabor chocolate</p>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="6000">
                <div>
                    <h5 class="h5-carousel d-none d-md-block">Masticable de sandia</h5>
                </div>
                <img src="https://dojiw2m9tvv09.cloudfront.net/22913/product/L_sandia5095.jpg?36" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <p class="p-carousel">Masticable sabor sandía.</p>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="7000">
                <div>
                    <h5 class="h5-carousel d-none d-md-block">Mochi</h5>
                </div>
                <img src="https://cdn.queapetito.com/wp-content/uploads/2019/12/mochi-el-postre-japones-600x469.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <p class="p-carousel">En 12 diferentes sabores.</p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <hr>
            <h2 class="nosotros">La empresa “Te lo Vendo” es un emprendimiento de un grupo de jóvenes, que vende snack asiáticos al por mayor.
            </h2>
        <br>
        <br>

{% endblock content %}